{% extends 'base.html' %}

{% block content %}

<div class="card-box">

<h2 class="page-title">Edit Student</h2>

<form action="/update_student" method="POST">

<input type="hidden"
name="student_id"
value="{{ student.student_id }}">

<div class="row">

<div class="col-md-6 mb-3">
<label>Roll No</label>
<input type="text"
class="form-control"
name="roll_no"
value="{{ student.roll_no }}"
required>
</div>

<div class="col-md-6 mb-3">
<label>First Name</label>
<input type="text"
class="form-control"
name="first_name"
value="{{ student.first_name }}"
required>
</div>

<div class="col-md-6 mb-3">
<label>Last Name</label>
<input type="text"
class="form-control"
name="last_name"
value="{{ student.last_name }}"
required>
</div>

<div class="col-md-6 mb-3">
<label>Department</label>
<input type="text"
class="form-control"
name="department"
value="{{ student.department }}"
required>
</div>

<div class="col-md-6 mb-3">
<label>Year</label>
<input type="text"
class="form-control"
name="year"
value="{{ student.year }}"
required>
</div>

<div class="col-md-6 mb-3">
<label>Mobile</label>
<input type="text"
class="form-control"
name="mobile"
value="{{ student.mobile }}"
required>
</div>

</div>

<button class="btn btn-success">
Update Student
</button>

<a href="/students" class="btn btn-secondary">
Cancel
</a>

</form>

</div>

{% endblock %}